<div class="d-flex monDashboard col-2" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper" style="height: 20%;">
    <div class="list-group list-group-flush">
      <a href="{{ path('dashboard') }}"
        class="list-group-item list-group-item-action bg-light d-flex justify-content-center mt-2">
        DASHBOARD
        <i class="fas fa-home"></i>
      </a>
      <a class="text-center list-group-item list-group-item-action bg-light"
        href="{{ path('home') }}">
        Portfolio
      </a>
      <a href="#"
        class="text-center list-group-item list-group-item-action bg-light">
        Mes projets
      </a>
      <ul class="ulDashboard">
        <a class="ul" href="{{ path('projectAdmin') }}">
          <li>Afficher les projets</li>
        </a>
        <a class="ul" href="{{ path('addProject') }}">
          <li>Ajouter un projet</li>
        </a>
      </ul>
      <a href="#"
        class="text-center list-group-item list-group-item-action bg-light">
        Mes compétences
      </a>
      <ul class="ulDashboard">
        <a class="ul" href="{{ path('skillAdmin') }}">
          <li>Afficher les compétences</li>
        </a>
        <a class="ul" href="{{ path('addSkill') }}">
          <li>ajouter une compétence</li>
        </a>
        <a href="#"><li>supprimer une compétence</li></a>
      </ul>
      <a href="#"
        class="text-center list-group-item list-group-item-action bg-light">
        Mes compétences
      </a>
      <ul class="ulDashboard">
        <a class="ul" href="{{ path('skillAdmin') }}">
          <li>Afficher les compétences</li>
        </a>
        <a class="ul" href="{{ path('addSkill') }}">
          <li>ajouter une compétence</li>
        </a>
        <a href="#"><li>supprimer une compétence</li></a>
      </ul>
      <a href="#"
        class="text-center list-group-item list-group-item-action bg-light">
        Statistiques du site
      </a>
      <a class="dropdown-item text-center" href="">
        <i class="fas fa-sign-out-alt"></i> Se déconnecter
      </a>
    </div>
  </div>
</div>
